.container-covered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.content-covered {
    padding: 10px ;
    
    max-width: 1000px;
    font-size: large;
    /* border-width: 0 1px;
    border-style: solid;
    border-color: darkslategray; */
}
/* .content-covered {

} */
.content-covered h1, h2, h3, h4{
    color:darkslategray;
    padding:10px
}
.content-covered p {
    padding: 8px;
}
.content-covered .formula {
    background-color: yellow;
    width: max-content;
}
.content-covered ul {
    padding: 15px 35px 35px ;
    
}
.content-covered ul li{
    padding-bottom: 8px;
    
}
.content-covered {
    font-weight: normal;
}
.content-covered .example{
    text-align: center;
}
.img-covered {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.img-covered img {
    
    width: 300px;
}
